@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "partials/card";
@import "partials/sidebarnewstage";
@import "partials/rating";
@import "partials/preview-image";

:root {
    --border-color: lightblue;
}

body {
    background-color: #F4A261;

}

a {
    text-decoration: none;
    color: unset;
}

button {
    svg {
        width: 20px;
        height: 20px;
    }
}

.btn {
    padding: 10px;
}

.ms_border {
    padding: 30px;
    border-radius: 20px;
    max-height: calc(100vh - 1.5rem * 2);
    overflow: auto;
    background-color: white;

    &::-webkit-scrollbar {
        display: none; /* Nasconde la barra di scorrimento */
    }
}

.form-control {
    border: 0;
    border-radius: 10px;
}

.hidden {
    transform: translate(100%, 0%);
}

.animation {
    position: fixed;
    max-height: 100vh;
    overflow: auto;
    width: 100%;
    transition: all 0.5s ease;
}

