.ms_card {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    transition: all 0.5s;

    .fa-plus {
        font-size: 30px;
    }
}

.sub-card {
    border-radius: 20px;
    padding: 30px;
    background-color: #264653;
    color: white;
    transition: all 0.5s;
}

.sub-card-mini {
    border-radius: 20px;
    padding: 30px;
    background-color: #264653;
    color: white;
    transition: all 0.5s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}