.ms_card {
    padding: 30px;
    background-color: white;
    border-radius: 20px;

    .fa-plus {
        font-size: 30px;
    }
}

.sub-card {
    border-radius: 20px;
    padding: 30px;
    background-color: #264653;
    color: white;
}